@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Cairo:wght@200;300;400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Mukta:wght@300;400;500;600;700;800&family=Open+Sans:wght@300&family=Source+Code+Pro:wght@800&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Cairo', sans-serif;
  background-color: rgba(248, 240, 240, 0.781);
  text-transform: capitalize;
}


.heading {
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
  background-color: rgb(21, 170, 219);
  height: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 5%;

}

.form-container {
  width: 25%;
}

.tamount {
  width: 50%;
}

.new {
  border-bottom: 1px solid rgb(128, 128, 128);
  width: 100%;
  margin-bottom: 10%;
  text-align: center;
}

h3 span {
  color: green;
}

label {
  font-weight: 400;
  color: rgb(39, 37, 37);
  font-size: 15px;
  text-align: left;
}

input {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
  outline: none;
  margin-bottom: 5px;
  width: 100%;
}

.select {
  width: 100%;
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 4px;
  outline: none;
}

.sub {
  width: 100%;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(21, 170, 219);
  border-radius: 4px;
  border: none;
  outline: none;
}

.style-table {
  width: 100%;
  border-spacing: 60px 10px;
  text-align: center;
}

.style-table th {
  font-size: 18px;
}

.style-table td {
  border-bottom: 1px solid silver;
}

.del-btn {
  cursor: pointer;
  color: white;
  background-color: rgb(221, 58, 58);
  border-radius: 3px;
  padding: 6px;
  border: none;
}



/* ####################### Media Queries ########################### */
@media only screen and (max-width: 400px) {

  .heading {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .new {
    display: flex;
    justify-content: center;
    font-size: 22px;
  }

  .form {
    margin-left: 30px;

  }

  .form-container {
    width: 100%;
  }

  .tamount {
    margin-top: 20px;
    width: 100%;
  }

  input,
  .select {
    padding: 4px;
    width: 90%;
  }

  label {
    display: block;
    font-weight: 400;
    font-size: 16px;
  }

  .sub {
    width: 90%;
    margin-top: 10px;
    font-weight: 500;
    padding: 5px;
  }

  .total {
    font-size: 20px;
  }

  .style-table {
    border-spacing: 10px 2px;
    width: 100%;
  }

  .style-table th {
    font-size: 14px;
  }

  .style-table tr td {
    font-size: 14px;
  }

  .table-container {
    width: 100%;
    padding: 3px;
  }

  .del-btn {
    font-size: 12px;
    padding: 3px;
  }
}

@media only screen and (min-width:600px) {
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .new {
    display: flex;
    justify-content: center;
    font-size: 28px;
  }

  .form-container {
    width: 100%;
  }

  .form {
    margin-left: 20%;
  }

  input,
  .select {
    padding: 7px;
    border-radius: 4px;
    outline: none;
    width: 70%;
  }

  label {
    display: block;
    font-weight: 400;
    color: rgb(39, 37, 37);
    font-size: 16px;
  }

  .sub {
    width: 70%;
    margin-top: 10px;
    font-weight: 500;
    padding: 5px;
  }

  .tamount {
    margin-top: 20px;
    width: 100%;
  }

  .total {
    font-size: 25px;
  }

  .del-btn {
    font-size: 13px;
    padding: 3px;
  }

  .style-table {
    border-spacing: 13px 8px;
  }

  .style-table th {
    font-size: 16px;
  }

  .table-container {
    padding: 6px;
  }
}

@media only screen and (min-width:768px) {

  .container {
    display: flex;
    flex-direction: row;
  }

  .new {
    font-size: 28px;
  }

  input,
  .select,
  .sub {
    padding: 5px;
    width: 100%;
  }

  label {
    display: block;
    font-size: 14px;
  }

  .tamount {
    width: 50%;
    margin-top: 0;
  }

  .total {
    font-size: 22px;
  }

  .form-container {
    width: 30%;
  }

  .del-btn,
  .upd-btn {
    font-size: 14px;
    padding: 4px;
  }

  .style-table {
    border-spacing: 18px 10px;
  }

  .style-table th {
    font-size: 16px;
  }

  .table-container {
    padding: 4px;
  }
}